/* // form 모듈 완성. 소셜버튼 모듈을 보면서 만들어볼것. opt-in에 플렉스적용하고, 3개를 가로배열. form 전체를 묶는 흰색 박스 필요. */
.formContainer {
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 0 48px;
  background-color: white;
  box-sizing: border-box;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 2%;
  padding-right: 2%;
}

.policyContainer {
  width: auto;
  height: auto;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
}
.displayContainer {
  width: auto;
  height: auto;
  margin-top: 2%;
}
.emailContainer {
  width: auto;
  height: auto;
  margin-top: 2%;
}

.passwordContainer {
  width: auto;
  height: auto;
  margin-top: 2%;
}
.inputMainContainer {
  width: auto;
}
.labelMain {
  margin-left: 5%;
  font-size: medium;
  font-weight: bolder;
}
.labelMainCotainer {
  width: auto;
}
.labelOpt {
  font-size: small;
  color: grey;
}
input {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 24px;
  max-width: 82%;
}
.optIn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.optCheckBox {
  width: auto;
  height: auto;
  margin: auto;
}
.optText {
  width: auto;
  height: auto;
  margin: auto;
}
.optHelp {
  width: auto;
  height: auto;
  margin: auto;
}
.pwHelpMsg {
  width: auto;
  height: auto;
  margin-left: 5%;
  margin-right: 8%;
  font-size: small;
  color: grey;
}
.RecapComponent {
  width: auto;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  background-color: rgba(228, 223, 223, 0.653);
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpBtn {
  text-align: center;
  background-color: rgb(28, 113, 203);
}
