.container {
  width: 300px;
}
.tag:hover {
  background-color: rgb(203, 218, 228);
}
.title {
  font-size: 19px;
  font-weight: 400;
}
.tag {
  background-color: rgb(225, 236, 244);
  border-radius: 3px;
  margin-right: 4px;
  padding: 4.8px 6px;
  color: rgb(57, 115, 157);
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  padding: 4.8px 6px;
}
.deleteBtn {
  width: 8.25px;
  height: 15px;
  color: rgb(132, 140, 149);
}
.tagBox {
  margin: 10px 2px 6px 4px;
}
